<p-toast></p-toast>
<p-card [header]="mode === 'create' ? 'Nuevo candidato' : mode==='edit' ? 'Editar datos de candidato' : 'Detalles de candidato' ">
    <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()" class="form-grid">
        <div class="grid">
            <div class="col-12 md:col-6 form-field">
                <span class="field-label">Nombre</span>
                    <input 
                    pInputText 
                    id="firstName" 
                    formControlName="firstName" 
                    [class.p-filled]="candidateForm.get('firstName')?.value"
                />
                @if(candidateForm.get('firstName')?.touched && candidateForm.get('firstName')?.errors?.['required']) {
                    <small class="p-error">El nombre es requerido</small>
                }
            </div>
            <div class="col-12 md:col-6 form-field">
                <span class="field-label">Apellido</span>
                <input 
                    pInputText 
                    id="lastName" 
                    formControlName="lastName"
                    [class.p-filled]="candidateForm.get('lastName')?.value"
                />
                @if(candidateForm.get('lastName')?.touched && candidateForm.get('lastName')?.errors?.['required']){
                    <small class="p-error">El apellido es requerido</small>
                }
            </div>
            <div class="col-12 md:col-6 form-field">
                <span class="field-label">Correo electrónico</span>
                <input 
                    pInputText 
                    id="email" 
                    formControlName="emailAddress"
                    [class.p-filled]="candidateForm.get('emailAddress')?.value"
                />
                @if(candidateForm.get('emailAddress')?.touched && candidateForm.get('emailAddress')?.errors?.['required']){
                    <small class="p-error">El correo electrónico es requerido</small>
                }
                @if (candidateForm.get('emailAddress')?.errors?.['email']) {
                    <small class="p-error">Email inválido</small>
                }
            </div>
            <div class="col-12 md:col-6 form-field">
                <span class="field-label">Número de teléfono</span>
                <input 
                    pInputText 
                    id="phone" 
                    formControlName="phoneNumber"
                    [class.p-filled]="candidateForm.get('phoneNumber')?.value"
                />
                @if(candidateForm.get('phoneNumber')?.touched && candidateForm.get('phoneNumber')?.errors?.['required']){
                    <small class="p-error">El número de teléfono es requerido</small>
                }
            </div>
        </div>

        <div class="col-12 form-field">
            <span class="field-label"> Habilidades</span>
                <p-multiSelect
                    [options]="(skills$ | async) || []"
                    formControlName="skillIds"
                    optionLabel="name"
                    optionValue="id"
                    [filter]="true"
                    placeholder="Seleccione las habilidades"
                >
                </p-multiSelect>
            
            @if(candidateForm.get('skillIds')?.touched && candidateForm.get('skillIds')?.errors?.['required']) {
                <small class="p-error">Debe seleccionar al menos una habilidades</small>
            }
        </div>

        <div class="col-12 flex justify-content-end gap-2">
            <p-button
                type="button"
                label="Cancelar"
                severity="secondary"
                (onClick)="onCancel()"
            >
            </p-button>
            
            @if(mode !== 'view'){
                <p-button
                    type="submit"
                    [label]="mode === 'create' ? 'Guardar' : 'Actualizar'"
                    [loading]="createLoading$ | async"
                >
                </p-button>
            }
        </div>

    </form>

</p-card>
